html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  background: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background: none;
  color: #FFF5F7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

img {
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #FFF5F7;
  color: #064151;
  overflow: hidden;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  z-index: 1;
  position: relative;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.header__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.header__menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #064151;
  transition: color 0.3s ease;
}
.header__menu-link:hover {
  color: #FE92BC;
}
.header__menu-link:active {
  color: #EE96A6;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__contacts .phone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #064151;
  transition: color 0.3s ease;
  cursor: pointer;
}
.header__contacts .phone:hover {
  color: #FE92BC;
}
.header__contacts .phone:active {
  color: #EE96A6;
}
.header__contacts .sec__btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FE92BC;
  border-radius: 4px;
  border: 1px solid #FE92BC;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header__contacts .sec__btn:hover {
  background-color: #FE92BC;
  color: #FFF5F7;
}
.header__contacts .sec__btn:active {
  background-color: #EE96A6;
  color: #FFF5F7;
}

.hero {
  margin-bottom: 140px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 588px;
}
.hero__inner-content {
  width: 640px;
}
.hero__inner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 85px;
  width: 640px;
  margin-bottom: 30px;
}
.hero__inner-text {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 38px;
}
.hero__inner-pic {
  position: relative;
}
.hero__inner-pic .cake {
  position: relative;
  z-index: 1;
}
.hero__inner-pic .shadow {
  position: absolute;
  top: -200px;
  left: -220px;
}

.pr__btn {
  display: block;
  width: 160px;
  height: 44px;
  background-color: #FE92BC;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 18px;
  color: #FFF5F7;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
}
.pr__btn:hover {
  border: 1px solid #FE92BC;
  color: #FE92BC;
  background: none;
}
.pr__btn:active {
  border: 1px solid transparent;
  color: #FFF5F7;
  background-color: #EE96A6;
}

.flavours {
  margin-bottom: 140px;
}
.flavours__inner h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 52px;
}
.flavours__inner .pr__btn {
  margin: 0 auto;
}

.steps {
  margin-bottom: 140px;
}
.steps__inner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 52px;
}
.steps__inner-content {
  margin-bottom: 52px;
}
.steps__inner-step {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.steps__inner-step:nth-child(odd) {
  justify-content: flex-start;
}
.steps__inner-step:nth-child(even) {
  justify-content: flex-end;
}
.steps__inner-step p {
  font-size: 24px;
  line-height: 28px;
  width: 352px;
}
.steps__inner .pr__btn {
  margin: 0 auto;
}

.feedbacks {
  margin-bottom: 140px;
}
.feedbacks__inner-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 52px;
}
.feedbacks__inner-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-bottom: 52px;
}
.feedbacks__inner-item img {
  margin-bottom: 0;
}
.feedbacks__inner-descr {
  background-color: #fff;
  padding: 12px;
  border-radius: 0 0 4px 4px;
}
.feedbacks__inner-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.feedbacks__inner-name .avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.feedbacks__inner-name .social:hover svg path {
  fill: #FBE58E;
}
.feedbacks__inner-name .social:active svg path {
  fill: #EE96A6;
}
.feedbacks__inner-text {
  font-size: 16px;
  line-height: 18px;
  width: 327px;
}
.feedbacks__inner .pr__btn {
  margin: 0 auto;
}

.offer {
  margin-bottom: 140px;
  width: 100%;
  height: 595px;
  background-image: url(../images/desktop/Offer.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.offer__inner {
  height: 595px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.offer__inner-content {
  width: 555px;
}
.offer__inner-content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #FBE58E;
  width: 555px;
  margin-bottom: 28px;
}
.offer__price {
  font-size: 24px;
  line-height: 28px;
  color: #FFF5F7;
  margin-bottom: 40px;
}
.offer__price p:first-child {
  margin-bottom: 12px;
}
.offer .offer__btn {
  display: block;
  width: 160px;
  height: 44px;
  background-color: #FFF5F7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 18px;
  color: #FE92BC;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.offer .offer__btn:hover {
  background-color: #FBE58E;
  color: #FE92BC;
}
.offer .offer__btn:active {
  background-color: #EE96A6;
  color: #FFF5F7;
}

.fast__inner h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 52px;
}
.fast__inner-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.fast__inner-item {
  margin-bottom: 140px;
  max-width: 352px;
}
.fast__inner-item .ic {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fast__inner-item h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 28px;
}
.fast__inner-item p {
  font-size: 24px;
  line-height: 32px;
  width: 300px;
  margin-bottom: 20px;
}
.fast__inner-item p:last-child {
  margin-bottom: 0;
}

.contact {
  position: relative;
  margin-bottom: 140px;
}
.contact__inner {
  display: flex;
}
.contact__inner-contacts {
  height: 600px;
  padding-top: 88px;
}
.contact__inner-contacts h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 52px;
}
.contact__inner-item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.contact__inner-item:last-child {
  margin-bottom: 0;
}
.contact__inner-item a {
  font-size: 24px;
  line-height: 28px;
  color: #064151;
}
.contact__inner-item p {
  font-size: 24px;
  line-height: 28px;
}
.contact__inner-touch {
  position: absolute;
  top: 0;
  right: 0;
  width: 704px;
  height: 600px;
  background-image: url(../images/desktop/Touch_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 88px;
  padding-left: 96px;
}

.feedback__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #FFF5F7;
  margin-bottom: 52px;
}

.feedback__input {
  display: block;
  width: 448px;
  padding: 12px 8px;
  border-bottom: 1px solid #FFF5F7;
  margin-bottom: 32px;
  transition: border-color 0.3s ease;
  caret-color: #EE96A6;
  font-size: 24px;
  color: #EE96A6;
}
.feedback__input:last-child {
  margin-bottom: 0;
}
.feedback__input:focus {
  border-bottom: 1px solid #EE96A6;
}

.feedback__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFF5F7;
}

.feedback__input:focus::placeholder {
  opacity: 0;
}

.faqs {
  margin-bottom: 140px;
}
.faqs__inner h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 52px;
}
.faqs__inner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 48px;
  column-gap: 108px;
}
.faqs__inner-item .quest {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #EE96A6;
  width: 470px;
  margin-bottom: 24px;
}
.faqs__inner-item .quest::before {
  position: absolute;
  top: 0;
  left: -72px;
  width: 48px;
  height: 48px;
  content: url(../images/desktop/icons/faq.svg);
  vertical-align: middle;
  display: inline-block;
}
.faqs__inner-item p {
  font-size: 24px;
  line-height: 28px;
  width: 470px;
}

.news {
  position: relative;
  margin-bottom: 140px;
}
.news__pic {
  position: absolute;
  top: 0;
  left: 0;
}
.news__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.news__form-inputs {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}
.news__form-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #FE92BC;
  margin-bottom: 20px;
}
.news__form-text {
  font-size: 24px;
  line-height: 28px;
  width: 635px;
  margin-bottom: 40px;
}
.news__form-input {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #3594AD;
  display: block;
  padding: 8px 12px;
  transition: border-color 0.3s ease;
  caret-color: #4A6972;
  font-size: 20px;
  color: #064151;
}
.news__form-input::placeholder {
  font-size: 20px;
  line-height: 23px;
  color: #4A6972;
}
.news__form-input:focus {
  border: 2px solid #3594AD;
}
.news__form-input:focus::placeholder {
  opacity: 0;
}
.news__form-label {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 8px;
  display: block;
}
.news .pr__btn {
  display: block;
}

select {
  width: 160px;
  height: 40px;
  font-size: 20px;
  line-height: 23px;
  color: #4A6972;
  padding: 8px 12px;
  display: block;
  background-color: #FFF5F7;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #3594AD;
  background-image: url(../images/desktop/icons/down.svg);
  background-repeat: no-repeat;
  background-position: right 0 center;
  transition: background-image 0.3s ease;
  cursor: pointer;
}
select:hover {
  background-image: url(../images/desktop/icons/down_hover.svg);
}
select:focus {
  outline: none;
}

.footer {
  background-color: #064151;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__inner h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #FFF5F7;
  margin-bottom: 12px;
}
.footer__inner-logo img {
  margin-bottom: 20px;
}
.footer__inner-logo p {
  margin-bottom: 12px;
}
.footer__inner-logo p:last-child {
  margin-bottom: 0;
}
.footer__inner-text {
  font-size: 20px;
  line-height: 23px;
  color: #FFF5F7;
}
.footer__inner-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__inner-contacts article {
  margin-bottom: 20px;
}
.footer__inner-link {
  font-size: 20px;
  line-height: 23px;
  color: #FFF5F7;
  display: block;
  margin-bottom: 12px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.footer__inner-link:last-child {
  margin-bottom: 0;
}
.footer__inner-link:hover {
  color: #FBE58E;
}
.footer__inner-link:active {
  color: #EE96A6;
}
.footer__inner-social {
  display: flex;
  gap: 20px;
}
.footer__inner-social a:hover svg path {
  fill: #FBE58E;
}
.footer__inner-social a:active svg path {
  fill: #EE96A6;
}

.slider {
  width: 100%;
  margin-bottom: 52px;
}
.slider .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slick-slide.slick-center-slide .slider__slide-img {
  transform: scale(1);
}
.slider .slick-slide.slick-center-slide .slider__slide-description {
  opacity: 1;
}
.slider__slide-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__slide-img {
  margin-bottom: 12px;
  transform: scale(0.5);
  transition: transform 0.3s;
}
.slider__slide-img img {
  width: 100%;
}
.slider__slide-description {
  width: 344px;
  margin-top: 10px;
  color: #3594AD;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.slider__slide-description h3 {
  font-size: 1.5em;
  margin: 0;
}
.slider__slide-description p {
  font-size: 1em;
  margin: 5px 0 0;
}

/*# sourceMappingURL=styles.css.map */
