.slider-module {

	// Owl carousel classes
	.owl-carousel_items_1 {
		width: 352px;

		.slider__slide {
			width: auto !important;
			height: 280px !important;

			&-img {
				width: auto !important;
				margin: 0 auto;
			}
		}
	}

	.owl-carousel_items_5 {
		width: 928px;
	}

	.owl-item.center .slider__slide {
		width: 100% !important;

		@media (max-width: 375px) {
			width: max-content !important;
		}
	}

	// Custom classes
	.slider {
		width: 100%;
		// Flexbox for centering slide control buttons
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&__slide {
			width: 50%;
			height: 240px;
			display: flex;
			align-items: flex-end;
			margin: 0 auto;
			transition: 0.3s;
			user-select: none;
		}

		&__slide-button {
			cursor: pointer;
		}
	}

	.slide-description {
		width: 100%;
		height: 90px; // default
		margin: 32px 0;

		@media (max-width: 375px) {
			&__items_1 {
				margin-bottom: 0;

				.slide-description {
					&__item {
						max-width: none !important;
					}

					&__item-content {
						width: 100%;
						// max-width: max-content;
						margin-bottom: 0;
						text-align: center;

						h3 {
							font-size: 16px !important;
						}

						p {
							padding: 0 12px;
							font-size: 14px;
						}
					}
				}
			}
		}

		&__items_5 {
			.slide-description {
				&__item {
					max-width: 22%;
				}
			}
		}

		&__item {
			margin: 0 auto;
			display: none;

			&_show {
				display: block;

				.slide-description__item-content {
					animation: fadeItem 0.4s ease-in forwards;
				}
			}
		}

		&__item-content {
			width: 270px;
			margin-bottom: 12px;
			opacity: 0;
			transition: 0.3s;

			h3 {
				font-size: 20px;
				font-weight: 500;
				color: $bl;
				margin-bottom: 8px;
			}

			p {
				font-size: 14px;
				color: $bl;
			}
		}
	}

}